@tailwind base;
@tailwind components;
@tailwind utilities;

@import "animations.css";
@import "custom.css";

@layer base {
}

img {
    object-fit: cover;
    object-position: center;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: #fbae16;
}

::-webkit-scrollbar-track {
    background: #ededed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
